{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:prettier/recommended"],
  "plugins": [],
  "rules": {
    "import/namespace": "off",
    "import/named": "off",
    "import/order": "off",
    "import/no-duplicates": "off"
  }
}
