$primary: #04acf4;
// $primaryLight: ;
// $primaryDark:;

$secondary: #ff0600;
// $secondaryLight: ;
// $secondaryDark: ;

// $neutralDarker: ;
// $neutralDark: ;
// $neutral: ;
// $neutralLight: ;
// $neutralLighter:  ;
// $neutralLightest:  ;

$background: #fff;
$foreground: #000;
