// Image zoom in on hover effect
.zoom-in-effect img {
  display: block;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.zoom-in-effect:hover img {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

// Page transition effect
.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  // transform: translateZ(0);
  // backface-visibility: hidden;
}
